# Fetch aircraft metadata (icao24 -> aircraft type)

Goal: build a lookup table that maps `icao24` to aircraft metadata (e.g., typecode / model).

- Uses the same date range as `01_fetch_flight_data_opensky_trino.ipynb`
- Respects OpenSky access guidelines by batching queries and sleeping between requests

Output: `data/processed/flight_data/states_europe/2025-01-13_2025-01-14/opensky_aircraft_metadata.parquet`

## 1) Config + project paths

In [1]:
from pathlib import Path
import pandas as pd

ROOT = Path.cwd().parent
DATE_RANGE = "2025-01-13_2025-01-14"

RAW_STATES_DIR = ROOT / "data" / "raw" / "flight_data" / "states_europe" / DATE_RANGE
OUT_DIR = ROOT / "data" / "processed" / "flight_data" / "states_europe" / DATE_RANGE
OUT_PATH = OUT_DIR / "opensky_aircraft_metadata.parquet"

print("RAW_STATES_DIR:", RAW_STATES_DIR)
print("OUT_PATH:", OUT_PATH)

RAW_STATES_DIR: c:\Users\HiWi\Desktop\Terril\01_nextcloud\Germany\DATA SCIENCE\Semesters\05\02 Sustainability in aviation\03 contrail-mvp\data\raw\flight_data\states_europe\2025-01-13_2025-01-14
OUT_PATH: c:\Users\HiWi\Desktop\Terril\01_nextcloud\Germany\DATA SCIENCE\Semesters\05\02 Sustainability in aviation\03 contrail-mvp\data\processed\flight_data\states_europe\2025-01-13_2025-01-14\opensky_aircraft_metadata.parquet

## 2) Collect unique `icao24` observed in the selected time window

In [2]:
import pyarrow.parquet as pq

files = sorted(RAW_STATES_DIR.glob("*.parquet"))
if not files:
    raise FileNotFoundError(f"No parquet files found in {RAW_STATES_DIR}")

icao = set()
for f in files:
    # Read only icao24 column (fast)
    col = pq.read_table(f, columns=["icao24"]).column("icao24")
    icao.update(x.as_py() for x in col if x is not None)

icao24_list = sorted({str(x).lower() for x in icao if str(x).strip()})
print("Unique icao24:", f"{len(icao24_list):,}")
icao24_list[:10]

Unique icao24: 6,759

['000001',
 '008ba5',
 '00a2e4',
 '0100a7',
 '0100db',
 '0100dc',
 '0100e0',
 '0100e7',
 '010109',
 '01010a']

## 3) Connect to OpenSky Trino

In [3]:
from trino.dbapi import connect
from trino.auth import OAuth2Authentication, ConsoleRedirectHandler

# Use the same connection pattern as in 01_fetch_flight_data_opensky_trino.ipynb
# OpenSky requires a lowercase username here.
TRINO_USER = "terriljoel98"  # TODO: set to your OpenSky username (lowercase)

conn = connect(
    host="trino.opensky-network.org",
    port=443,
    http_scheme="https",
    user=TRINO_USER,
    auth=OAuth2Authentication(
        redirect_auth_url_handler=ConsoleRedirectHandler()
    ),
    catalog="minio",
    schema="osky",
)

print("Connected.")

Connected.

## Explore available OpenSky Trino tables

This project Trino schema (`minio.osky`) does not necessarily contain an aircraft metadata table (aircraft type/model).
First, list available tables and inspect column schemas with `DESCRIBE` before writing any fetch logic.

In [17]:
table_list = []
for key, value in tables.to_dict()['Table'].items():
    print(f"{value}")
    table_list.append(value)

acas_data4
adsc
allcall_replies_data4
flarm_raw
flights_data4
flights_data5
identification_data4
operational_status_data4
position_data4
rollcall_replies_data4
state_vectors_data4
velocity_data4

In [20]:
import pandas as pd

# List tables
tables = pd.read_sql("SHOW TABLES FROM minio.osky", conn)
col = tables.columns[0]
print("Tables in minio.osky:")
print(tables.sort_values(col).to_string(index=False))

# Helper: describe any table
def describe_table(table_name: str) -> pd.DataFrame:
    df = pd.read_sql(f"DESCRIBE {table_name}", conn)
    return df

# Example: inspect identification_data4
for table in table_list:
    print("\nTable:", table)
    print(describe_table("minio.osky.{}".format(table)))

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\2953346535.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables = pd.read_sql("SHOW TABLES FROM minio.osky", conn)

Tables in minio.osky:
                   Table
              acas_data4
                    adsc
   allcall_replies_data4
               flarm_raw
           flights_data4
           flights_data5
    identification_data4
operational_status_data4
          position_data4
  rollcall_replies_data4
     state_vectors_data4
          velocity_data4

Table: acas_data4

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\2953346535.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"DESCRIBE {table_name}", conn)

                          Column  \
0                        sensors
1                         rawmsg
2                        mintime
3                        maxtime
4                       msgcount
5                         icao24
6                   islongformat
7                     isairborne
8         hascrosslinkcapability
9               sensitivitylevel
10              replyinformation
11                      altitude
12                   hasvalidrac
13    activeresolutionadvisories
14  resolutionadvisorycomplement
15                   nopassbelow
16                   nopassabove
17                    noturnleft
18                   noturnright
19                 hasterminated
20            hasmultiplethreats
21                          hour

                                                 Type          Extra Comment
0   array(row(serial integer, mintime double, maxt...
1                                             varchar
2                                              double
3                                              double
4                                              bigint
5                                             varchar
6                                             boolean
7                                             boolean
8                                             boolean
9                                            smallint
10                                           smallint
11                                             double
12                                            boolean
13                                           smallint
14                                           smallint
15                                            boolean
16                                            boolean
17                                            boolean
18                                            boolean
19                                            boolean
20                                            boolean
21                                            integer  partition key

Table: adsc

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\2953346535.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"DESCRIBE {table_name}", conn)

        Column     Type Extra Comment
0         time  varchar
1       icao24  varchar
2          lat  varchar
3          lon  varchar
4     altitude  varchar
5  groundspeed  varchar
6      heading  varchar
7     vertrate  varchar

Table: allcall_replies_data4

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\2953346535.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"DESCRIBE {table_name}", conn)

           Column                                               Type  \
0         sensors  array(row(serial integer, mintime double, maxt...
1          rawmsg                                            varchar
2         mintime                                             double
3         maxtime                                             double
4        msgcount                                             bigint
5          icao24                                            varchar
6    capabilities                                           smallint
7  interrogatorid                                           smallint
8            hour                                            integer

           Extra Comment
0
1
2
3
4
5
6
7
8  partition key

Table: flarm_raw

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\2953346535.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"DESCRIBE {table_name}", conn)

                Column     Type          Extra  \
0           sensortype  varchar
1       sensorlatitude   double
2      sensorlongitude   double
3       sensoraltitude  integer
4         timeatserver   double
5         timeatsensor   double
6            timestamp   double
7          timeatplane  integer
8           rawmessage  varchar
9                  crc  varchar
10      rawsoftmessage  varchar
11          sensorname  varchar
12            ntperror     real
13  userfreqcorrection     real
14  autofreqcorrection     real
15           frequency   double
16             channel  integer
17         snrdetector   double
18      snrdemodulator   double
19             typeogn  boolean
20          crccorrect  boolean
21                hour  integer  partition key

                                              Comment
0                                  Type of the sensor
1                              Latitude of the sensor
2                             Longitude of the sensor
3              Altitude of the sensor in meters (int)
4                        Time at the ingestion server
5                   Time at the sensor (not used yet)
6                                           Timestamp
7   Time at which the position was broadcasted by ...
8                        26 bytes FLARMv6 Raw message
9           CRC Pertaining to the FLARMv6 Raw message
10  Soft bits, 4 per real bit, of a FLARMv6 Raw me...
11           Name of the sensor as broadcasted by OGN
12        Error of the sensor's clock compared to NTP
13              Dongle ppm correction set by the user
14  Additional dongle ppm correction set by automa...
15  Exact frequency at which the message was received
16  Channel on which the message was received (Imp...
17                                SNR at the detector
18                             SNR at the demodulator
19    Type of the message (True > OGN, False > FLARM)
20                Is the CRC of the message correct?
21

Table: flights_data4

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\2953346535.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"DESCRIBE {table_name}", conn)

                              Column  \
0                             icao24
1                          firstseen
2                estdepartureairport
3                           lastseen
4                  estarrivalairport
5                           callsign
6                              track
7   estdepartureairporthorizdistance
8    estdepartureairportvertdistance
9     estarrivalairporthorizdistance
10     estarrivalairportvertdistance
11   departureairportcandidatescount
12     arrivalairportcandidatescount
13   otherdepartureairportcandidates
14     otherarrivalairportcandidates
15                               day

                                                 Type          Extra Comment
0                                             varchar
1                                             integer
2                                             varchar
3                                             integer
4                                             varchar
5                                             varchar
6   array(row(time integer, latitude double, longi...
7                                             integer
8                                             integer
9                                             integer
10                                            integer
11                                            integer
12                                            integer
13  array(row(icao24 varchar, horizdistance intege...
14  array(row(icao24 varchar, horizdistance intege...
15                                            integer  partition key

Table: flights_data5

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\2953346535.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"DESCRIBE {table_name}", conn)

                              Column  \
0                             icao24
1                          firstseen
2                estdepartureairport
3                           lastseen
4                  estarrivalairport
5                           callsign
6                              track
7   estdepartureairporthorizdistance
8    estdepartureairportvertdistance
9     estarrivalairporthorizdistance
10     estarrivalairportvertdistance
11   departureairportcandidatescount
12     arrivalairportcandidatescount
13   otherdepartureairportcandidates
14     otherarrivalairportcandidates
15                airportofdeparture
16              airportofdestination
17                       takeofftime
18                   takeofflatitude
19                  takeofflongitude
20                       landingtime
21                   landinglatitude
22                  landinglongitude
23                               day

                                                 Type          Extra Comment
0                                             varchar
1                                             integer
2                                             varchar
3                                             integer
4                                             varchar
5                                             varchar
6   array(row(time integer, latitude double, longi...
7                                             integer
8                                             integer
9                                             integer
10                                            integer
11                                            integer
12                                            integer
13  array(row(icao24 varchar, horizdistance intege...
14  array(row(icao24 varchar, horizdistance intege...
15                                            varchar
16                                            varchar
17                                            integer
18                                             double
19                                             double
20                                            integer
21                                             double
22                                             double
23                                            integer  partition key

Table: identification_data4

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\2953346535.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"DESCRIBE {table_name}", conn)

            Column                                               Type  \
0          sensors  array(row(serial integer, mintime double, maxt...
1           rawmsg                                            varchar
2          mintime                                             double
3          maxtime                                             double
4         msgcount                                             bigint
5           icao24                                            varchar
6  emittercategory                                           smallint
7              ftc                                           smallint
8         identity                                            varchar
9             hour                                            integer

           Extra Comment
0
1
2
3
4
5
6
7
8
9  partition key

Table: operational_status_data4

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\2953346535.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"DESCRIBE {table_name}", conn)

                             Column  \
0                           sensors
1                            rawmsg
2                            icao24
3                           mintime
4                           maxtime
5                          msgcount
6                       subtypecode
7                    unknowncapcode
8                     unknownopcode
9                hasoperationaltcas
10                      has1090esin
11    supportsairreferencedvelocity
12                    haslowtxpower
13        supportstargetstatereport
14       supportstargetchangereport
15                         hasuatin
16                             nacv
17                   nicsupplementc
18        hastcasresolutionadvisory
19             hasactiveidentswitch
20                usessingleantenna
21            systemdesignassurance
22                 gpsantennaoffset
23                   airplanelength
24                    airplanewidth
25                          version
26                   nicsupplementa
27                      positionnac
28        geometricverticalaccuracy
29             sourceintegritylevel
30  barometricaltitudeintegritycode
31                 trackheadinginfo
32     horizontalreferencedirection
33                             hour

                                                 Type          Extra Comment
0   array(row(serial integer, mintime double, maxt...
1                                             varchar
2                                             varchar
3                                              double
4                                              double
5                                              bigint
6                                             tinyint
7                                             boolean
8                                             boolean
9                                            smallint
10                                            boolean
11                                           smallint
12                                           smallint
13                                           smallint
14                                           smallint
15                                            boolean
16                                            tinyint
17                                           smallint
18                                            boolean
19                                            boolean
20                                            boolean
21                                            tinyint
22                                            tinyint
23                                            integer
24                                             double
25                                            tinyint
26                                            boolean
27                                             double
28                                            integer
29                                            tinyint
30                                           smallint
31                                           smallint
32                                            boolean
33                                            integer  partition key

Table: position_data4

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\2953346535.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"DESCRIBE {table_name}", conn)

          Column                                               Type  \
0        sensors  array(row(serial integer, mintime double, maxt...
1         rawmsg                                            varchar
2        mintime                                             double
3        maxtime                                             double
4       msgcount                                             bigint
5         icao24                                            varchar
6      nicsuppla                                            boolean
7            hcr                                             double
8            nic                                           smallint
9     survstatus                                           smallint
10     nicsupplb                                            boolean
11           odd                                            boolean
12       baroalt                                            boolean
13           lat                                             double
14           lon                                             double
15           alt                                             double
16     nicsupplc                                            boolean
17   groundspeed                                             double
18  gsresolution                                             double
19       heading                                             double
20      timeflag                                            boolean
21       surface                                            boolean
22          hour                                            integer

            Extra Comment
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22  partition key

Table: rollcall_replies_data4

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\2953346535.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"DESCRIBE {table_name}", conn)

                  Column                                               Type  \
0                sensors  array(row(serial integer, mintime double, maxt...
1                 rawmsg                                            varchar
2                mintime                                             double
3                maxtime                                             double
4               msgcount                                             bigint
5                 icao24                                            varchar
6                message                                            varchar
7                   isid                                            boolean
8           flightstatus                                            tinyint
9        downlinkrequest                                            tinyint
10            utilitymsg                                            tinyint
11        interrogatorid                                            tinyint
12  identifierdesignator                                            tinyint
13             valuecode                                           smallint
14              altitude                                             double
15              identity                                            varchar
16                  hour                                            integer

            Extra Comment
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16  partition key

Table: state_vectors_data4

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\2953346535.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"DESCRIBE {table_name}", conn)

           Column            Type          Extra Comment
0            time         integer
1          icao24         varchar
2             lat          double
3             lon          double
4        velocity          double
5         heading          double
6        vertrate          double
7        callsign         varchar
8        onground         boolean
9           alert         boolean
10            spi         boolean
11         squawk         varchar
12   baroaltitude          double
13    geoaltitude          double
14  lastposupdate          double
15    lastcontact          double
16        serials  array(integer)
17           hour         integer  partition key

Table: velocity_data4

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\2953346535.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"DESCRIBE {table_name}", conn)

           Column                                               Type  \
0         sensors  array(row(serial integer, mintime double, maxt...
1          rawmsg                                            varchar
2         mintime                                             double
3         maxtime                                             double
4        msgcount                                             bigint
5          icao24                                            varchar
6      supersonic                                            boolean
7    intentchange                                            boolean
8   ifrcapability                                            boolean
9             nac                                           smallint
10     ewvelocity                                             double
11     nsvelocity                                             double
12           baro                                            boolean
13       vertrate                                             double
14   geominurbaro                                             double
15        heading                                             double
16       velocity                                             double
17           hour                                            integer

            Extra Comment
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17  partition key

## 4) Discover aircraft metadata table

If you are unsure about the table name/columns, run this cell to list tables containing the word `aircraft`.

In [4]:
import pandas as pd

tables = pd.read_sql("SHOW TABLES FROM minio.osky", conn)
tables.columns = [c.lower() for c in tables.columns]
cand = tables[tables[tables.columns[0]].str.contains("aircraft", case=False, na=False)]
print(cand)

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\3674217301.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables = pd.read_sql("SHOW TABLES FROM minio.osky", conn)

Open the following URL in browser for the external authentication:
https://trino.opensky-network.org/oauth2/token/initiate/a812bf5b62e6c69d560d194b59f3e5c435face485b0c82e5ec7cdc5676bf1de7
Empty DataFrame
Columns: [table]
Index: []

In [5]:
tables

                       table
0                 acas_data4
1                       adsc
2      allcall_replies_data4
3                  flarm_raw
4              flights_data4
5              flights_data5
6       identification_data4
7   operational_status_data4
8             position_data4
9     rollcall_replies_data4
10       state_vectors_data4
11            velocity_data4

## 5) Fetch aircraft metadata for observed icao24

Notes:
- Keep `chunk_size` moderate to avoid overly large SQL `IN (...)` clauses.
- Sleep between chunks to be polite to the service.
- Adjust `AIRCRAFT_TABLE` and selected columns to match what exists in your OpenSky schema.

In [7]:
import time
from tqdm.auto import tqdm
import pandas as pd

# Auto-discover an aircraft metadata table in OpenSky Trino.
# We prefer tables containing 'aircraft' and having an 'icao24' column.

def list_tables() -> list[str]:
    df = pd.read_sql("SHOW TABLES FROM minio.osky", conn)
    # Trino returns a single column; normalize to python list
    col = df.columns[0]
    return df[col].astype(str).tolist()

def describe_cols(table: str) -> set[str]:
    df = pd.read_sql(f"DESCRIBE {table}", conn)
    col = df.columns[0]
    return set(df[col].astype(str).str.lower().tolist())

tables = list_tables()
# Candidate tables containing 'aircraft' (sorted for reproducibility)
candidates = sorted([t for t in tables ])
if not candidates:
    raise RuntimeError("No tables containing 'aircraft' found in minio.osky. Run SHOW TABLES to inspect schema.")

# Prefer some common names first, then fall back to any candidate
preferred = [
    "aircraft_database",
    "aircraft",
    "aircraft_data",
    "aircraft_database4",
]
ordered = []
for name in preferred:
    ordered.extend([t for t in candidates if t.lower() == name])
ordered.extend([t for t in candidates if t not in ordered])

AIRCRAFT_TABLE = None
available_cols = None
for t in ordered:
    full = f"minio.osky.{t}" if not t.lower().startswith("minio.") else t
    try:
        cols = describe_cols(full)
    except Exception:
        continue
    if "icao24" in cols:
        AIRCRAFT_TABLE = full
        available_cols = cols
        break

if AIRCRAFT_TABLE is None:
    raise RuntimeError(f"Could not find an aircraft table with an icao24 column. Candidates tried: {ordered[:20]}")

print("Using AIRCRAFT_TABLE:", AIRCRAFT_TABLE)

# Candidate columns (keep only what you need); some may not exist depending on schema
CANDIDATE_COLS = [
    "icao24",
    "typecode",
    "model",
    "manufacturername",
    "owner",
    "operator",
    "registration",
]

cols = [c for c in CANDIDATE_COLS if c.lower() in available_cols]
select_cols = ",".join(cols)
print("Using columns:", cols)

def fetch_aircraft_meta(icao24_values, chunk_size=800, sleep_s=0.4, max_retries=3) -> pd.DataFrame:
    out = []
    for i in tqdm(range(0, len(icao24_values), chunk_size)):
        chunk = icao24_values[i:i+chunk_size]
        in_list = ",".join([f"'{x}'" for x in chunk])
        q = f"SELECT {select_cols} FROM {AIRCRAFT_TABLE} WHERE icao24 IN ({in_list})"

        for attempt in range(max_retries):
            try:
                df = pd.read_sql(q, conn)
                out.append(df)
                break
            except Exception:
                if attempt == max_retries - 1:
                    raise
                time.sleep(sleep_s * (attempt + 1))

        time.sleep(sleep_s)

    if not out:
        return pd.DataFrame(columns=cols)
    return pd.concat(out, ignore_index=True).drop_duplicates()

aircraft = fetch_aircraft_meta(icao24_list)
print("Fetched rows:", len(aircraft))
print("Coverage (icao24 found):", aircraft["icao24"].nunique(), "/", len(icao24_list))
aircraft.head()

C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\1585428627.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SHOW TABLES FROM minio.osky", conn)
C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\1585428627.py:15: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(f"DESCRIBE {table}", conn)

Using AIRCRAFT_TABLE: minio.osky.acas_data4
Using columns: ['icao24']

  0%|          | 0/9 [00:00<?, ?it/s]C:\Users\HiWi\AppData\Local\Temp\ipykernel_4816\1585428627.py:79: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(q, conn)
  0%|          | 0/9 [00:23<?, ?it/s]

KeyboardInterrupt:

## 6) Save for later joins in preprocessing

In [ ]:
OUT_DIR.mkdir(parents=True, exist_ok=True)
aircraft.to_parquet(OUT_PATH, index=False)
print("Saved:", OUT_PATH)

## Next step
In `03_data_preprocessing.ipynb`, join this table back using `icao24` (directly or extracted from `flight_id`) to attach aircraft type metadata and enable Schmidt-Appleman (formation) + ISSR (persistence).